<div>
    <div>
        &nbsp;
    </div>
    <h1 id="Date">
        <%- locals.date %>
    </h1>
    <div>

    </div>
</div>


<div id="PlannerContent">
    <div id="Goals">
        <form id="AddGoal" method="post" action="/planner/goal">
            <h3>Add Goal</h3>
            <label>
                <input name="title" type="text" placeholder="Enter goal..." required tabindex="1">
            </label>
            <label>
                <input name="date" type="hidden" value="<%- locals.dateval.slice(0, 10)%>" required>
            </label>
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px">
                <input type="reset" value="Reset" tabindex="3">
                <input type="submit" value="Add" tabindex="2">
            </div>
        </form>
        <div id="GoalList">
            <h3>Goals</h3>
            <% for (var i = 0; i < locals.goals.length; i++) { %>
                <div class="Goal">
                    <input type="checkbox" checked="<%= locals.goals[i].is_complete%>">
                    <%= locals.goals[i].title %>
                </div>

            <% } %>
        </div>
    </div>
    <div id="Plans">
        <h3>Plans</h3>
        <div id="PlanList">
            <% for (var j = 6; j < 24/*locals.plans.length*/; j++) { %>
            <div class="Plan">
                <div><%- j %></div>
                <input type="text">
            </div>
            <% } %>
        </div>
    </div>
</div>