<div class="CenterContent">
    <div>
        <h2><%= message %></h2>
        <div class="Small" style="text-align: center">
            <%= WeekDayNames[(today_date.getDay() + 6) % 7] %>
        </div>
    </div>
    <%- include('subheader.ejs')%>
    <% if (locals.today_date) { %>
        <div class="Flex">
<!--            <div class="Two DesktopOnly HideScroll HideBr" id="DisplayPage" style="max-height: 50vh; overflow-y: scroll">-->
<!--                <h3 style="text-align: center">Journal Preview</h3>-->
<!--                <% if (locals.journal) { %>-->
<!--                    <div>-->
<!--                        <%- journal.content%>-->
<!--                    </div>-->
<!--                <% } else { %>-->
<!--                    Add a journal entry to see in preview.-->
<!--                <% } %>-->
<!--            </div>-->
            <div class="Three">
                <div style="display: grid; grid-template-columns: 1fr auto auto; grid-gap: 5px">
                </div>
                <div class="Add Row2" style="justify-content: center; justify-items: center; display: none;">
                    <button class="SmallButton" onclick="ToggleClass('Add'); ToggleClass('AddNumber');">
                        Add Number Goal
                    </button>
                    <button class="SmallButton" onclick="ToggleClass('Add'); Toggle('AddCheckbox');">
                        Add Checkbox Goal
                    </button>
                </div>
                <form style="display: grid; grid-template-columns: 1fr 4rem auto; align-items: center; grid-gap: 5px" action="/planner" method="post">
                    <input name="title" id="title_checkbox" type="text" placeholder="Goal">
                    <input name="amount" id="title_checkbox" type="number" placeholder="amount" value="1" min="1" step="1">
                    <input type="hidden" name="kind" value="daily" id="kind_checkbox">
                    <input type="hidden" name="date" id="date_checkbox" value="<%= today_date.toISOString() %>">
                        <input type="submit" style="background-image: url('/images/icon/add.svg'); background-size: 100% 100%; width: 40px" value="">
                </form>
                <div class="Goals">
                    <% for (var i = 0; i < daily_goals.length; i++) { %>
                        <%- include('goal.ejs', {goal: daily_goals[i], i: i})%>
                    <% } %>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
   <!-- <div id="Tracker">
        <h2>Tracker</h2>
        <div class="tracker_items Goals">
            <% for (var i = 0; i < tracker_data.length; i++) { %>
            <div style="display: grid; grid-template-columns: 300px auto">
                <div><%= tracker_data[i]['name'] %></div>
                <input type="number" step="1" min="1" max="10"
                       onchange="SetTracker('<%= tracker_data[i]['name']%>', this.value, '<%= today_date.toLocaleDateString() %>')"
                <% if (tracker_data[i]['value'] != null) { %>
                       value="<%= tracker_data[i]['value'] %>"
                        <% } %>
                >
            </div>

            <% } %>
        </div>
        <div id="AddTopic" style="display: grid; grid-template-columns: 1fr auto">
            <input type="text" id="topic_add" placeholder="Add Topic to Track">
            <button class="SmallButton" onclick="AddTopic()">Add</button>
        </div>-->
    </div>
    <% } %>
</div>
<script>
    document.getElementById('title_checkbox').focus()
</script>
