<h2><%= message %></h2>
<div class="CenterContent">
    <%- include('subheader.ejs')%>
    <h1>Days</h1>
        <% for (var i = 0; i < days.length; i++) { %>
    <a href="/planner/y/<%= days[i].getFullYear()%>/m/<%= days[i].getMonth() + 1%>/d/<%= days[i].getDate()%>">
        <button class="SmallButton">
        <span>
                <%= (days[i].getMonth()+1) + "/" + days[i].getDate() %>
            </span>
            <span style="font-size: 0.8rem">
                <%= WeekDayNames[i]%>
            </span>
        </button>
    </a>
        <% } %>
    <div class="Goals">
        <% if (daily_goals.length > 0) { %>
            <% var current = new Date(349862) %>
            <% for (var i = 0; i < daily_goals.length; i++) { %>
                <% if (current.toLocaleDateString() !== daily_goals[i].day.toLocaleDateString()) { %>
                    <% current = daily_goals[i].day %>
                    <h1 class="Exclude"><%= current.toLocaleDateString()%></h1>
                <% } %>
                <%- include('goal.ejs', {goal: daily_goals[i], i: i, display_date: true})%>
            <% } %>
        <% } %>
    </div>
    <h2>Tracker</h2>
    <div id="Tracker">

    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(() => {

        GetJson(`/planner/tracker/y/<%= year %>/w/<%= week %>`)
            .then((data) => {
                let topics = {}

                data.forEach(datum => {
                    if (topics[datum.topic] == null) {
                        topics[datum.topic] = []
                    }

                    topics[datum.topic].push({
                        date: new Date(datum.date).toLocaleDateString(),
                        value: datum.value
                    })
                })

                for (let topic in topics) {
                    let items = topics[topic]
                    let table = [
                        ['date', 'value']
                    ]
                    items.forEach(item => {table.push([item['date'], item['value']])})
                    let chart_div = document.createElement('div')
                    let chart = new google.visualization.LineChart(chart_div)
                    chart.draw(google.visualization.arrayToDataTable(table), {
                        title: topic,
                        curveType: 'function',
                        backgroundColor: {
                            fill: 'none'
                        },
                        titleTextStyle: {
                            color: "white"
                        },
                        hAxis: {
                            textStyle: {
                                color: "white"
                            }
                        },
                        vAxis: {
                            textStyle: {
                                color: "white"
                            },
                            viewWindowMode: 'explicit',
                            viewWindow: {
                                max: 10,
                                min: 1
                            }
                        },
                        colors: ['springgreen']
                    });
                    document.getElementById('Tracker').appendChild(chart_div)
                }
            })
    })

</script>