<h2><%= message %></h2>
<div class="CenterContent">
    <%- include('subheader.ejs')%>
</div>
<div class="CenterContent">
    <div class="Row2">
        <div>
            <h1>Months</h1>
            <% for (var i = 0; i < monthNames.length; i++) { %>
                <a href="/planner/y/<%= year %>/m/<%= i+1 %>">
                    <div class="Button">
                        <%= monthNames[i] %>
                    </div>
                </a>
            <% } %>
        </div>
        <div>
            <h1>Weeks</h1>
            <div>
                <% for (var i = 0; i < 52; i++) { %>
                    <a href="/planner/y/<%= year %>/w/<%= i+1 %>">
                        <button class="SmallButton">
                            <%= i+1 %>
                        </button>
                    </a>
                <% } %>
            </div>

        </div>
    </div>
</div>