<div class="SideContent">
    <%- include('sidebar.ejs')%>
    <div>
        <div class="CenterContent">
            <h1>Portfolio</h1>
            <%- include("list_category.ejs")%>
            <div>
                <% if (locals.unsorted && unsorted.length > 0) { %>
                    <%- include("list_projects.ejs", {message: "Unsorted Projects", projects: unsorted})%>
                <% } %>
            </div>
            <div class="Flex">
                <div class="One">
                    <%- include("list_projects.ejs", {message: "TODO", projects: projects})%>
                </div>
                <div class="One">
                    <%- include("list_projects.ejs", {message: "Production", projects: on_going})%>
                    <%- include("list_projects.ejs", {message: "Development", projects: projects_root})%>
                </div>
            </div>
        </div>

    </div>
</div>
