<div class="CenterContent">
    <%- include("header.ejs")%>
    <form action="/words/range" class="Container">
        <h1>Search Words by Dates</h1>
        <div class="inputField">
            <label for="start">
                Start
            </label>
            <input type="date" id="start" name="start">
        </div>
        <div class="inputField">
            <label for="end">
                End
            </label>
            <input type="date" id="end" name="end">
        </div>
        <input type="submit" value="Search">
        <div style="padding: 5px; display: flex; gap: 5px">
            <% for (var i = 0; i < years.length; i++) { %>
                <% var start = new Date(years[i], 0, 1)
                    var end = new Date(years[i], 11, 31)
                %>
                <a class="Button" href="/words/range?start=<%= start.toLocaleDateString()%>&end=<%= end.toLocaleDateString()%>">
                    <%= years[i] %>
                </a>
            <% } %>
        </div>
    </form>
    <% if (locals.words) { %>
        <%- include("list.ejs") %>
    <% } %>
</div>
