
<div class="CenterContent">
    <%- include('header.ejs')%>
    <h1>Recent</h1>
    <% if (locals.error) { %>
        <p><%= error %></p>
    <% } else { %>
        <div id="documents">
            <% for (var i = 0; i < pages.length; i++) { %>
                <%- include('doc_icon.ejs', {doc: pages[i]})%>
<!--                <a href="/wiki/page/<%= pages[i].title %>" style="color: inherit !important;">-->
<!--                    <div class="Button" style="display: grid; grid-template-columns: 1fr auto">-->
<!--                        <div>-->
<!--                            <%= pages[i].title %>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
            <% } %>
        </div>
    <% } %>
</div>
