<%- include('header.ejs')%>
<div class="CenterContent">
    <h1>Recent</h1>
    <% if (locals.error) { %>
        <p><%= error %></p>
    <% } else { %>
        <div>
            <% for (var i = 0; i < pages.length; i++) { %>
                <a href="/wiki/page/<%= pages[i].title %>" style="color: inherit !important;">
                    <div class="Button" style="display: grid; grid-template-columns: 1fr auto">
                        <div>
                            <%= pages[i].title %>
                        </div>
<!--                        <div class="Small">-->
<!--                            <%= pages[i].created_on %>-->
<!--                        </div>-->
                    </div>
                </a>
            <% } %>
        </div>
    <% } %>
</div>
