<% var nav = [
    // {a: "/idea", t: "Ideas"},
    {a: "/portfolio", t: "Portfolio"},
    {a: "/wiki", t: "Wiki"},
    {a: "/planner", t: "Planner"},
    {a: "/words", t: "Words"},
    // {a: "/day", t: "Day"}//,
   // {a: "/auth/logout", t: }
   // {a: "/planner", t: "Planner"},
] %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color"
          content="#1e7bab"
          media="(prefers-color-scheme: dark)">
<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Code+Pro&family=The+Nautigal&family=Ubuntu:wght@300&family=Waterfall&display=swap" rel="stylesheet">
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">-->
    <link rel="shortcut icon" href="/images/M02a.png" />
</head>
<body>
<% if (locals.hideHeader) { %>
<!--    <div>&nbsp;</div>-->
<% } else { %>
    <header>
        <div class="">
            <nav>
                <a class="navButton" href="/">
                    <div>
                        <img src="/images/m02alow.png" style="width: 1em;">
                        <span>Home</span>
                    </div>
                </a>
                <div>&nbsp;</div>
                <div class="Flex DesktopOnly">
                    <% for (var i = 0; i < nav.length; i++) { %>
                        <a class="navButton " href="<%- nav[i].a %>"><div><%- nav[i].t%></div></a>
                    <% } %>
                        <div class="navButton" id="AccountDropdown" onclick="Toggle('AccountMenu')">
                            <img src="/images/icon/account.svg"  style="width: calc(1em);">
                            <!--                    <%= first_name %>-->
                            <div id="AccountMenu" style="display: none">
                                <a href="/auth/account">Account</a>
                                <a href="/auth/logout">Logout</a>
                            </div>
                        </div>

                </div>
                <div class="MobileOnly navButton" onclick="Toggle('MobileMenu')" style="padding: 5px;">
                        <img src="/images/icon/hamburger.svg" style="width: calc(1.6em);">
                    </div>
            </nav>
        </div>
        <div style="display: none;" id="MobileMenu">
            <% for (var i = 0; i < nav.length; i++) { %>
                <a href="<%- nav[i].a %>"><div class="navButton"><%- nav[i].t%></div></a>
            <% } %>
                <button class="navButton" style="text-align: left; margin: 0">
                    Account
                </button>
                <a href="/auth/logout"><div class="navButton">Logout</div></a>
        </div>
    </header>
<% } %>
<div id="content"><%- include(content) %></div>
<!--<footer>-->
<!--&lt;!&ndash;    Scheduler 1.0&ndash;&gt;-->
<!--</footer>-->
</body>
<script src="/client.js"></script>
</html>