<% var nav = [
    // {a: "/idea", t: "Ideas"},
    {a: "/words", t: "Words"},
    {a: "/wiki", t: "Wiki"},
    {a: "/portfolio", t: "Portfolio"},
    {a: "/auth/logout", t: "Logout"}
   // {a: "/planner", t: "Planner"},
] %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color"
          content="#1e7bab"
          media="(prefers-color-scheme: dark)">
</head>
<body>
<% if (locals.hideHeader) { %>
<!--    <div>&nbsp;</div>-->

<% } else { %>
    <header>
        <a class="navButton" href="/">
            <div>
                <img src="/images/m02alow.png" style="width: 1em;">
                <span>Home</span>
            </div>
        </a>
        <% for (var i = 0; i < nav.length; i++) { %>
            <a class="navButton" href="<%- nav[i].a %>"><div><%- nav[i].t%></div></a>
        <% } %>
        <!--    <a class="navButton" href="/"><div>Home</div></a>-->
        <!--    <div>&nbsp;</div>-->
        <!--    <div id="nav">-->
        <!--        <% for (var i = 0; i < nav.length; i++) { %>-->
        <!--            <a class="navButton" href="<%- nav[i].a %>"><div><%- nav[i].t%></div></a>-->
        <!--        <% } %>-->
        <!--    </div>-->
    </header>
<% } %>
<div id="content"><%- include(content) %></div>
<footer></footer>
</body>
<script src="/client.js"></script>
</html>